extends layout

block main-content
    a(href="/") Home

    h2= anime.title

    .anime-details
        img(src=anime.images.jpg.image_url, alt=anime.title)

        .info
            p
                strong Score: 
                | #{anime.score || "N/A"}

            p
                strong Episodes: 
                | #{anime.episodes || "?"}

            p
                strong Status: 
                | #{anime.status}

            p
                strong Year: 
                | #{anime.year || "N/A"}

            p
                strong Genres: 
                each g, i in anime.genres
                    | #{g.name}#{i < anime.genres.length - 1 ? ", " : ""}

            h3 Synopsis
            p= anime.synopsis 

            h3 Random Quote
            blockquote
                if animeQuote           
                    p "#{animeQuote.content}" #{animeQuote.character ? `- ${animeQuote.character}` : ""}
                else
                    p No quotes available for this anime.