extends layout

block main-content

    a.back-btn(href="javascript:history.back()") Back

    .block-hero
        h1.anime-title= anime.title

    .details-container
        .left-panel
            img.cover(src=anime.images.jpg.image_url, alt=anime.title)

            form(action=`/watchlist/add/${anime.mal_id}` method="post")
                button.add-watchlist(type="submit") Add to Watchlist

        .right-panel
            .info
                p
                    strong Score: 
                    | #{anime.score || "N/A"}

                p
                    strong Episodes: 
                    | #{anime.episodes || "?"}

                p
                    strong Status: 
                    | #{anime.status}

                p
                    strong Year: 
                    | #{anime.year || "N/A"}

                if anime.genres.length
                    p
                        strong Genres: 
                    .genre-tags
                        each g in anime.genres
                            span.tag= g.name

            h2.section-title Synopsis
            p.synopsis= anime.synopsis 

            h2.section-title Random Quote
            blockquote.quote-box
                if animeQuote           
                    p "#{animeQuote.content}"
                    if animeQuote.character
                        span.quote-author - #{animeQuote.character}
                else
                    p No quotes available for this anime.