extends layout

block main-content
    .search-header
        h1 Search results for "#{query}"
        if results.length
            p.subtitle Showing #{results.length} anime result(s)

    if results.length
        .results-grid
            each anime in results
                .anime-card
                    a.card-link(href=`/anime/${anime.mal_id}`)
                        img.card-image(src=anime.images.jpg.image_url, alt=anime.title)
                        .card-info
                            h3.card-title= anime.title
                            if anime.score
                                p.card-rating Rating: #{anime.score}
                            else 
                                p.card-rating Rating: N/A
    else 
        .no-results
            p No results found.