extends layout

block main-content
    h2 Search results for "#{query}"
    a(href="/") Home

    if results.length
        ul.anime-list
            each anime in results
                li 
                    a(href=`/anime/${anime.mal_id}`)
                        img(src=anime.images.jpg.image_url, alt=anime.title)
                        h3= anime.title
                        if anime.score
                            p Rating: #{anime.score}
                        else 
                            p Rating: N/A
    else 
        p No results found.