extends layout

block main-content

    .watchlist-header
        h1 My Watchlist
        if watchlist.length
            p.watchlist-subtitle #{watchlist.length} anime saved
        else
            p.watchlist-subtitle Your watchlist is empty.

    if watchlist.length
        .watchlist-grid
            each anime in watchlist
                .watchlist-card
                    a.card-image-link(href=`/anime/${anime.id}`)
                        img(src=anime.image, alt=anime.title)
                    .card-info
                        h3.card-title= anime.title
                        form(action=`/watchlist/remove/${anime.id}` method="post")
                            button.remove-btn(type="submit") Remove
    else 
        .empty-state
            h2 No shows yet
            p Add some shows to get started.
            a.btn(href="/") Explore Anime